<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>赛事通道</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./layui/css/layui.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <script src="./js/jquery.min.js"></script>
    <script src="./js/template-web.js"></script>
    <script src="./js/HappyImage.min.js"></script>
    <script src="./js/distpicker.data.js"></script>
    <script src="./js/distpicker.js"></script>
    <script src="./js/Sliding_Validation_Gu.js" type="text/javascript"></script>
    <script src="./layui/layui.js"></script>
    <script src="./js/index.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<!--<div class="gameWall">-->
<!--    <div id="headerBox"></div>-->
<!--    <ul class="gameWall_main banxin" id="gameBox"></ul>-->
<!--    <div id="page"></div>-->
<!--    <div id="footerBox"></div>-->
<!--</div>-->

<div class="onlineMall">
    <div id="headerBox"></div>
    <div class="onlineMall_main banxin rela">
        <p class="abso">敬请期待</p>
    </div>
    <div id="footerBox"></div>
</div>
</body>
<script id="game" type="text/html">
    {{if data}}
    {{each data value index}}
    <li>
        <img src="{{value.pic}}" alt="">
        <div class="imgBrief rela">
            <h5>{{value.title}}</h5>
            <p>{{value.startTime}}</p>
            {{if value.canused == 0}}
            <span class="zjz abso">征集中</span>
            {{else if value.canused == 1}}
            <span class="yjs abso">已结束</span>
            {{else if value.canused == 2}}
            <span class="psz abso">评审中</span>
            {{else}}
            <span class="hjgs abso">获奖公示</span>
            {{/if}}
        </div>
    </li>
    {{/each}}
    {{/if}}
</script>

<script>
    $(function () {
        $('#headerBox').load('common/header.html');
        $('#footerBox').load('common/footer.html');

        $.ajax({
            url: "http://api.cc04u.cc/news/list?page=0&pageSize=1",
            success: function (res) {
                var items = template("game", res);
                // var items = template("game", {
                //     data: [{
                //         pic: "https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2214279671,1299042480&fm=26&gp=0.jpg",
                //         title: "123",
                //         startTime: "2020-10-08",
                //         canused: 0
                //     },{
                //         pic: "https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2214279671,1299042480&fm=26&gp=0.jpg",
                //         title: "456",
                //         startTime: "2020-10-08",
                //         canused: 1
                //     }]
                // });
                $("#gameBox").html(items)
                $(".gameWall_main li").click(function () {
                    window.location.href = "./gameDetail.html"
                })
            }
        })
    })
</script>
</html>
